<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="wrapper">
      <form class="" action="/input" method="post">
        <div class="todo">
          <input type="text" name="todo" value="" placeholder="Add a todo...">
          <input type="submit" name="" value="Add todo">
        </div>
      </form>

      {{#todos}}
      <form class="" action="/completed" method="post">
        <div class="button">

          <input type="hidden" name="todoId" value="{{id}}"></input>
          <button class="btn" type="submit" name="button">Delete</button>
          <span>{{task}}</span>
          <br>
        </div>
      </form>
      <form class="" action="/edit" method="post">
        <div class="button">
          <input type="text" name="edit" value="" placeholder="Edit Task">
          <button class="btn" type="submit" name="editBtn" value="{{id}}">Update</button>
          <br>
        </div>
      </form>
      {{/todos}}
    </div>

  </body>
</html>
